
.cal{
    min-height: 3vh;
    min-width: 2vh;
    background: linear-gradient(rgba(132, 128, 182, 0), rgba(211, 210, 225, 0)), url(/images/cf4ce6c47cb24b9053fcdc282e9c7092.png);
    background-size: fixed;
        /* background-repeat: no-repeat; */
    background-size: cover;
   
}