.jersey {
    background-image: url(/images/real-madrid-21-22-home-kit-4-removebg-preview.png);
    background-size: cover;
    height: 100%;
    /* border: 1px solid whitesmoke; */
    width: 20%;
    top: 40%;
    position: absolute;

}

.jerse {
    background-image: url(/images/real-madrid-21-22-home-kit-4-removebg-preview.png);
    background-size: cover;
    height: 100%;
    /* border: 1px solid whitesmoke; */
    width: 20%;
    top: 40%;
    position: absolute;
}
#country{
    
font-size: 60%;
font-family: cursive;
margin-top: 40px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    width: 100%;
    /* height: 30px; */
    font-size: 45%;
    color: rgb(239, 204, 204);
    text-align: center;
    /* padding-top:1px ; */
    transform: translateY(20px);
    

    /* border: 1px solid black; */
}

.jers {
    background-image: url(/images/real-madrid-21-22-home-kit-4-removebg-preview.png);
    background-size: cover;
    height: 100%;
    /* border: 1px solid whitesmoke; */
    width: 20%;
    top: 40%;
    position: absolute;
}

.kersey {
    background-image:url(/images/real-madrid-21-22-home-kit-4-removebg-preview.png);
    background-size: cover;
    height: 100%;
    /* border: 1px solid whitesmoke; */
    width: 20%;
    top: 40%;
    position: absolute;
}

.man{
    /* border: solid green 2px !important; */
    content:"(attre)";
}

.keeper {
    position: relative;
    /* border: 1px solid white; */
    height: 100px;
    width: 80%;
    margin: auto;
    top: 80px;
    /* background-color: .000; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* *{
     border:1px solid white; 
} */

.container {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    background-repeat: no-repeat;
}

@keyframes color {
    0% {
        filter:saturate(0%) ;
        transform: rotatex(90deg);
    }

    50%{
        filter:saturate(50%) contrast(150%);
        transform: rotatex(0);
    }

    100%{
        filter: contrast(100%);
    }
}

.field {
    animation-name:color ;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 0ms;
    width: 65%;
    margin: auto;
    height: 100vh;
    filter:saturate(50%) contrast(150%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(/images/cf4ce6c47cb24b9053fcdc282e9c7092.png);
    position: relative;
    z-index: 1;
}


/* defence */

.three {
    position: relative;
    /* border: 1px solid white; */
    height: 100px;
    width: 80%;
    margin: auto;
    top: 80px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.jersey:nth-child(1) {
    position: absolute;

    left: 10%;
}

.jersey:nth-child(2) {
    position: absolute;

    right: 10%;
}

.jersey:nth-child(3) {
    position: absolute;
    top: 53%;
    right: 50%;
}

.jersey:nth-child(4) {
    position: absolute;
    top: 53%;
    left: 50%;
}


/* strikers */
.one {
    position: relative;
    /* border: 1px solid white; */
    height: 100px;
    width: 80%;
    top: 80px;
    margin: auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.jers:nth-child(1) {
    position: absolute;
    top: -5px;
    left: 15%;
}

.jers:nth-child(2) {
    position: absolute;
top: 1px;
    left: 40%;
}

.jers:nth-child(3) {
    position: absolute;
    top: -5px;
    right: 15%;
}


/* midfilders */

.two {
    position: relative;
    /* border: 1px solid white; */
    height: 100px;
    width: 80%;
    top: 95px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.jerse:nth-child(1) {
    position: absolute;
    top: 15%;

    left: 14%;
}

.jerse:nth-child(2) {
    position: absolute;
    top: 5%;

    left: 40%;
}

.jerse:nth-child(3) {
    position: absolute;
    top: 15%;
    right: 13%;
}

@media all and (max-width:768px) {
    
    .kersey {
        background-size: contain;
        background-repeat: no-repeat;
    
    } .jers {
        background-size: contain;
        background-repeat: no-repeat;
    
    } .jersey {
        background-size: contain;
        background-repeat: no-repeat;
    
    } .jerse {
        background-size: contain;
        background-repeat: no-repeat;
    
    }

    #country{
        margin-top: -15px;
   

    }
    p{
        line-height: 8px;
    letter-spacing: 0;
    transform: none;
    padding-top: 10px;

        
    }
}